div{
    box-sizing: border-box;
    margin: 0;

}
#forside{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #ffffff;
    background-color: rgb(2, 2, 73);
    height: 80px;
}
#container{
    width: 1080px;
    margin-right: auto;
    margin-left: auto;
}
